// Global styling for this theme

html {
  height: 100%;
  min-height: 900px;
  overflow: auto;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

//.thumbnail {
//  position: fixed;
//  top: 50%;
//  left: 50%;
//  min-width: 100%;
//  min-height: 100%;
//  width: auto;
//  height: auto;
//  transform: translateX(-50%) translateY(-50%);
//  z-index: 0;img
//}

//@media (pointer: coarse) and (hover: none) {
//  body {
//    background: url('../img/bg-mobile-fallback.jpg') $primary no-repeat center center scroll;
//    background-size: cover;
//  }
//  body video {
//    display: none;
//  }
//}

body {

  //border: solid 10px red;


  overflow-x: hidden;
  @media (min-width: 1420px) {
    overflow: hidden;

    .bg-image {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      //background: url('../img/thumbnail_image.png') no-repeat center center scroll;

      background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)), url("../img/thumbnail_image.png"); // no-repeat center center scroll;
      //background-color: black;
      background-size: cover;
      transform: scale(1.1);
      filter: blur(8px);
    }

  }

  .bg-image {
    background-color: $primary;
  }


}
