// Global styling for this theme

html {
  height: 100%;
  min-height: 900px;
  overflow: auto;
}

body {
  min-height: 100%;
  position: relative;
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

//.thumbnail {
//  position: fixed;
//  top: 50%;
//  left: 50%;
//  min-width: 100%;
//  min-height: 100%;
//  width: auto;
//  height: auto;
//  transform: translateX(-50%) translateY(-50%);
//  z-index: 0;img
//}

//@media (pointer: coarse) and (hover: none) {
//  body {
//    background: url('../img/bg-mobile-fallback.jpg') $primary no-repeat center center scroll;
//    background-size: cover;
//  }
//  body video {
//    display: none;
//  }
//}

body {
  //border: solid 10px red;

  .cookie-modal-container {
    z-index: 100;
    display: flex;
    align-items: safe center;
    justify-content: safe center;
    position: absolute;

    width: 100vw;
    height: 100vh;

    .cookie-modal {
      position: absolute;
      background-color: $primary;

      -webkit-box-shadow: 10px 10px 32px 7px rgba(0,0,0,0.2);
      -moz-box-shadow: 10px 10px 32px 7px rgba(0,0,0,0.2);
      box-shadow: 10px 10px 32px 7px rgba(0,0,0,0.2);

      color: $tertiary;

      h1 {
        font-size: 1.8rem;
      }

      .cookie-buttons {
        float: right;
        display: flex;
        align-items: center;


        .accept-cookie-button {
          margin: 5px 20px 0 5px;
          background-color: $secondary;
          border-color: $secondary;

          &:hover {
            opacity: 0.8;
            transition-duration: 400ms;
          }
        }

        .deny-cookie-button {
          margin: 5px 30px 0 5px;
          font-style: italic;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      @media (min-width: 1300px) {
        width: 50vw;
        padding: 5vh;
      }

      @media (max-width: 1300px) {
        width: 80%;
        padding: 5%;
      }

    }

  }

  @media (min-width: 1300px) {
    overflow: hidden;

    .bg-image {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      //background: url('../img/thumbnail_image.png') no-repeat center center scroll;

      background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)), url("../img/thumbnail_image.png"); // no-repeat center center scroll;
      //background-color: black;
      background-size: cover;
      transform: scale(1.1);
      filter: blur(8px);
    }

  }

  .bg-image {
    background-color: $primary;
  }


}
