.logo {
  position: absolute;
  height: 50px;
  right: 0;
  margin: 20px;
}

.masthead {
  filter: blur(2px);
  -webkit-filter: blur(2px);

  position: relative;
  //overflow-x: hidden;
  z-index: 2;

  .cursive {
    font-style: italic;
  }

  .masthead-content {
    display: flex;
    flex-direction: column;


    h1 {
      font-size: 1.8rem;
      color: $tertiary;
    }

    h3 {
      color: $tertiary;
      font-size: 1.4rem;
    }

    p {
      font-size: 1.2rem;
      color: $tertiary strong {
        font-weight: 700;
      }
    }

    .algemene-voorwaarden-button {
      color: #007bff;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .content-block {
      &.form-block {
        overflow-x: hidden;

        h1 {
          @media (max-width: 1420px) {
            display: none;
          }
        }
      }

      &.text-block {
        overflow-x: hidden;
        display: inline-block;

        @media (min-width: 1420px) {
          padding: 5%;
        }

        @media (min-width: 722px) and (max-width: 1420px) {
          padding: 10% 10% 0 10%;
        }
        padding: 25% 10% 0 10%;

        br {
          margin-bottom: 8px;
        }

        h1 {
          @media (max-width: 1420px) {
            padding-bottom: 15px;
          }
        }
      }

      //@media (min-width: 1420px) {
      //  padding: 0px 30px 0px 30px;
      //}
    }

    .subscribed-msg {
      background-color: $secondary;
      color: white;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 400px;
      display: none;
      transition-duration: 1000ms;
      opacity: 0;
    }

    .form {
      padding: 0;
      color: white;

      label {
        margin-top: 8px;
      }

      .form-input-field {
        margin: 5px;

        &.checkbox-input-field {
          input {
            margin-right: 10px;
          }
        }
      }

      .form-input-fields {
        background-color: $secondary;
        padding: 10%;
        display: flex;
        flex-direction: column;

        @media (max-width: 580px) {
          padding: 10% 5% 10% 5%;
        }

        @media (min-width: 1420px) {
          padding: 20px 25px 20px 75px;
        }
      }

      .disclaimer {
        color: red;
        font-size: 0.8rem;
        margin-top: 4px;
      }

      .input-field-label {
        display: inline-block;
        float: left;
        clear: left;
        width: 225px;
        text-align: left;
      }

      .button-container {
        padding: 50px 50px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        .btn {
          width: 150px;
          float: right;
          right: 0;
          margin: 8px;
        }

        .contact-info {
          margin: 8px;
          color: $tertiary;
          text-align: right;
        }
      }

      @media (max-width: 580px) {
        .input-field-label {
          width: 135px;
        }
      }
    }

    .input-group-newsletter {
      input {
        height: auto;
        font-size: 1rem;
        padding: 1rem;
      }

      button {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 1420px) {
  .masthead {

    margin: 0;
    height: 100%;
    min-height: 900px;
    padding-bottom: 0;

    .logo {
      position: absolute;
      height: 50px;
      margin: 15px 30px 30px 30px;
    }

    .content-block {
      &.form-block {
        min-width: 600px;
        background-color: $primary;
        height: 100vh;
        min-height: 900px;

        h1 {
          margin: 40px;
          display: block;
        }

      }

      &.text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
          margin-bottom: 20px;
          color: $primary;
        }

        br {
          margin-bottom: 20px;
        }
      }
    }

    .masthead-bg {
      min-height: 0;
      transform: skewX(-8deg);
      transform-origin: top right;
    }

    .masthead-content {
      flex-direction: row;

      max-height: 900px;

      h1 {
        font-size: 3rem;
      }

      h3 {
        font-size: 1.5rem;
        color: $primary;
      }

      p {
        font-size: 1.3rem;
        color: $primary
      }
    }
  }
}
