.social-icons {
  position: absolute;
  padding-bottom: 2rem;
  width: 100%;
  z-index: 2;
  ul {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    > li {
      margin-left: 1rem;
      margin-right: 1rem;
      display: inline-block;
      > a {
        display: block;
        color: white;
        background-color: $tertiary;
        border-radius: 100%;
        font-size: 2rem;
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

@media (min-width: 1420px) {
  .social-icons {
    margin: 0;
    position: absolute;
    left: 2.5rem;
    bottom: 1rem;
    width: auto;
    ul {
      margin-top: 0;
      width: auto;
      > li {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
        > a {
          transition: all 0.2s ease-in-out;
          font-size: 2rem;
          line-height: 4rem;
          height: 4rem;
          width: 4rem;
          &:hover {
            background-color: $secondary;
          }
        }
      }
    }
  }
}
